<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/layout">

<head>
    <title>Error</title>
    <meta name="keywords" content=""/>
</head>

<body>

<main role="main" layout:fragment="content">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading" th:text="${errorTitle}">Oops!</h1>
            <p class="lead text-muted" th:text="${errorMessage}">Something unexpected went wrong.</p>

            <div th:if="${#authentication ne null and #authentication.name == 'anonymousUser'}">
                <p><a class="p-2" th:href="@{/}">Continue</a></p>
            </div>
            <div th:if="${#authentication ne null and #authentication.name != 'anonymousUser'}">
                <p><a class="p-2" th:href="@{/home}">Continue</a></p>
            </div>
        </div>
    </section>
</main>

</body>
</html>
