<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<header>
    <div class="navbar shadow-sm navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
            <div th:if="${#authentication ne null and #authentication.name == 'anonymousUser'}">
                <a th:href="@{/}" class="navbar-brand d-flex align-items-center">
                    <div id="header-company-logo">
                        <img alt="ProjectX icon" th:src="@{/images/projectx_100x100.png}" th:height="50" th:width="50"/>
                    </div>
                    <div id="header-company-name" style="padding-left: 5%">
                        <strong>ProjectX</strong>
                    </div>
                </a>
            </div>
            <div th:if="${#authentication ne null and #authentication.name != 'anonymousUser'}">
                <a th:href="@{/home}" class="navbar-brand d-flex align-items-center">
                    <div id="header-company-logo">
                        <img alt="ProjectX icon" th:src="@{/images/projectx_100x100.png}" th:height="50" th:width="50"/>
                    </div>
                    <div id="header-company-name" style="padding-left: 5%">
                        <strong>ProjectX</strong>
                    </div>
                </a>
            </div>
            <nav class="my-2 my-md-0 mr-md-3">
                <div th:if="${#authentication ne null and #authentication.name == 'anonymousUser'}">
                    <a class="p-2" style="color: white" th:href="${'/ui-client/home'}">Login</a>
                    <span class="p-2" style="color: white">|</span>
                    <a class="p-2" style="color: white" th:href="${'/ui-client/register_user'}">Register</a>
                </div>
                <div th:if="${#authentication ne null and #authentication.name != 'anonymousUser'}">
                    <!-- <span class="navbar-text" sec:authentication="name">username</span> -->
                    <a class="p-2" style="color: white" th:href="${'/ui-client/home'}">Home</a>
                    <span class="p-2" style="color: white">|</span>
                    <a class="p-2" style="color: white" th:href="${'/ui-client/logout'}">Logout</a>
                </div>
            </nav>
        </div>
    </div>
</header>

</html>